<% if @messages.nil? %>
  <div class="main-pannel">Nothing to display</div>
<% else %>
  <ul>
    <%= @messages.each do |message| %>
      <p><%= message.content %></p>
    <% end %>
  </ul>
<% end %>